[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hostx/Desktop/Eclipse IDE for Java Developers - 2022-03.desktop]
row=1
col=0

[/home/hostx/Desktop/New File]
row=3
col=0

[/home/hostx/Desktop/jetbrains-pycharm-ce.desktop]
row=2
col=0

[/home/hostx]
row=0
col=0

